/* Color backgrounds */

/* Image backgrounds */

    /* Food */
    .bg-food-1 {
        background: url('../img/food/01-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-2 {
        background: url('../img/food/02-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-3 {
        background: url('../img/food/03-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-4 {
        background: url('../img/food/04-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-5 {
        background: url('../img/food/05-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-6 {
        background: url('../img/food/06-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-7 {
        background: url('../img/food/07-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-8 {
        background: url('../img/food/10-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-9 {
        background: url('../img/food/12-food-op.png')no-repeat center;
        background-size: cover;
    }
    .bg-food-10 {
        background: url('../img/food/13-food-op.png')no-repeat center;
        background-size: cover;
    }

    /* Color BG */
    .bg-1 {
        background: cyan;
    }
    .bg-2 {
        background-color: darkseagreen;
    }
    .bg-3 {
        background-color: deeppink;
    }
    .bg-4 {
        background-color: firebrick;
    }
    .bg-5 {
        background-color: gold;
    }
    .bg-6 {
        background-color: mediumslateblue;
    }
    .bg-7 {
        background-color: powderblue;
    }