doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    title Bourbon + F5 + Gulp
    // Stylesheets
    link(rel='stylesheet', href='assets/css/style.css')
    // Font Library
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    |     
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200', rel='stylesheet', type='text/css')
  body
    .wrapper__master
      // generic Hero elements and grid examples
      section.row.wrapper
        article.wrapper__hero.type-system-sans
          h1.header__marquee hello world
          |         
          .aniWrap
            .mouse
              .scroller
        |         
        .small-12.medium-4.columns.bubba.alfie
        |         
        .small-12.medium-4.columns.bubba.bronco
        |         
        .small-12.medium-4.columns.bubba.chuck
      |     
      section.row
        .small-12.columns.bubba.dennis
      // Site's color palette and variations
      article.wrapper__secondary
        .test.test-1
        |       
        .test.test-2
        |       
        .test.test-3
        |       
        .test.test-4
        |       
        .test.test-5
        |       
        .test.test-6
      // Site's type system
      article.type-system-sans
        h1.home__greeting Bourbon + F5 + Gulp
        |       
        h2.home__greeting--sub My living, breathing root workflow.
        |       
        p.home__greeting--copy
          | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta gravida at eget metus.
          | Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.
      // Site's user-experience elements
      button.form__btn--submit confirm
    // end .wrapper__master
    // Scripts
