extends templates/docwrapper-home

block title
    | ALIVE Eat + Drink

block style
    link(rel='stylesheet', href='assets/css/style.css')

block title__logo
  | PM

block title__name
  | The Peacemaker

block grid
  include templates/grid-wrapper

block footer
  include templates/footer
