/* Layout Styles */

/*
    00 - General
    01 - Divs
    02 - Sections
    03 - Articles + Asides
    04 - Navigation
    05 - Header + Footer
    06 - Headings + Titles
*/


/* 00 - General
   html, body, etc. */
body {
    background-color: white;
}

/* 01 - Divs
   wrappers, containers, etc. */
.alfie {
    background-color: dodgerblue;
}
.bronco {
    background-color: brown;
}
.chuck {
    background-color: pink;
}
.dennis {
    background-color: $clr-gold;
}
.bubba {
  height: 30em;
  @include media(min-width 320px max-width 480px, 6) {
    height: 15em;
  }
}
.grid__item {
    @media #{$small-only} {
        height: 20em;
    }
    @media #{$medium-only} {
        height: 15em;
    }
    height: 30em;
}

/* 03 - Articles + Asides */
.wrapper__hero {
    height: 100vh;
}

/* 05 - Header + Footer */
div.wrapper__footer {
    img.logo__footer {
        margin: 2em auto;
        display: block;
    }
    h2.title__footer {
        text-align: center;
        font-size: 1vw;
        font-weight: 400;
        margin: 1em auto;
        @media #{$small-only} {
            font-size: 4vw;
        }
        @media #{$medium-only} {
            font-size: 2vw;
        }
    }
}
ul.wrapper__social {
    width: 100%;
    margin: 5em 0 1em 0;
    height: 2em;
    li {
        padding: 2em;
        display: inline;
        @media #{$small-only} {
            font-size: 4vw;
            text-align: center;
        }
    }
}

/* 06 - Headings + Titles */
.home__greeting--copy {
    padding: 0 15%;
    text-align: center;
}
.wrapper__hero {
    h1.header__marquee {
    font-size: 30vmin;
    width: 60vw;
    color: $clr-gold;
    }
}
h1.home__greeting, h2.home__greeting--sub {
    text-align: center;
}
article.type__system--robot {
    h1.title__card--logo {
        border: 3px solid white;
        border-radius: 50%;
        display: block;
        width: 9rem;
        height: 9rem;
        margin: 0 auto;
        padding-top: .45em;
        font-size: golden-ratio(36px, 1);
        line-height: 1.5;
        font-weight: 700;
     }
    h2.title__card--name {
        top: 13rem;
        @media #{$small-only} {
            font-size: golden-ratio(22px, 1);
            top: 10rem;
        }
        font-size: golden-ratio(42px, 1);
        letter-spacing: 4;
        font-style: normal;
    }
}

/* ------------------------ Hero panel */
.hero__wrapper--slide {
    height: 50vh;
    border: 1px dashed red;
}
.title__card {
    text-align: center;
    position: relative;
    color: white;
}
.title__card--wrap {
    position: relative;
    top: 35vmin;
}
.title__card--wrap {
    .title__card--name {
    text-transform: uppercase;
    margin: 1.5rem 0;
    font-size: golden-ratio(16px, 1);
    font-weight: 700;
    }
}

/* ------- Hero logo --- */
.hero__title--logo {
    display: inline-block;
    width: 10em;
    height: 3em;
    margin: 2em;
    background: url('../img/logos/alv-rtn-wht-circle-name.svg')no-repeat center;
    background-size: contain;
}
.hero__title--name {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    color: white;
}

div.grid__item {
    article.title__card--wrap {
        top: 10vmin;
        @media #{$small-only} {
            top: 16vmin;
        }
    }
    h1.title__card--logo {
        @media #{$small-only} {
            font-size: golden-ratio(30px, 1);
            width: 7rem;
            height: 7rem;
            padding-top: 0.35em;
        }
        @media #{$medium-only} {
            font-size: golden-ratio(22px, 1);
            width: 5rem;
            height: 5rem;
        }
    }
    h2.title__card--name {
        top: 0;
        font-size: 3vw;
        @media #{$small-only} {
            font-size: golden-ratio(16px, 1);
        }
        @media #{$medium-only} {
            font-size: golden-ratio(28px, 1);
        }
    }
}



