main#wrapper__nav--curtain
  section#nav__curtain--intro.bg-food-1
      article.title__card--wrap.type__system--robot
          h1.title__card.title__card--logo PM             
          h2.title__card.title__card--name The Peacemaker
          div.aniWrap
            div.mouse
              div.scroller
      header.curtain__header
        div#curtain__logo
          a(href='#0')
            img(src='assets/img/logos/alv-rtn-wht-circle-name.svg' alt='Logo')
        a.curtain__menu--trigger(href='.nav__curtain--inner')
          | Menu
          span
      div.curtain__bg--blurred
div.curtain__layer--shadow
nav#nav__curtain--inner
  ul
    li
      a(href='#0')
        span Home
    li
      a(href='#0')
        span Dinner
    li
      a(href='#0')
        span Brunch
    li
      a(href='#0')
        span Cocktails
    li
      a(href='#0')
        span Coffee
  a.curtain__menu--close(href='#0') Close