footer.footer
    div.row.wrapper__footer
        div.small-12.columns.type__system--robot
            img.logo__footer(src="assets/img/logos/alv-rtn-blk-circle-name.png")
            h2.title__footer EAT + DRINK
    div.row.wrapper__footer--social
        div.small-6.medium-9.large-4.small-centered.columns.type__system--robot
            ul.wrapper__social
                li.instagram__footer instagram
                li.facebook__footer facebook
                li.twitter__footer twitter
                li.pinterest__footer pinterest