.wrapper.wrapper__grid
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-2
        div.small-12.medium-4.columns.grid__item.bg-food-3
        div.small-12.medium-4.columns.grid__item.bg-food-4
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-5
        div.small-12.medium-4.columns.grid__item.bg-food-6
        div.small-12.medium-4.columns.grid__item.bg-food-7
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-8
        div.small-12.medium-4.columns.grid__item.bg-food-9
        div.small-12.medium-4.columns.grid__item.bg-food-10
        
