.wrapper.wrapper__grid
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-2
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='tastebar.html') TB
                h2.title__card.title__card--name Taste Bar
        div.small-12.medium-4.columns.grid__item.bg-food-3
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='saltnsmoke.html') SS
                h2.title__card.title__card--name Salt + Smoke
        div.small-12.medium-4.columns.grid__item.bg-food-4
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='eleveneleven.html') EE
                h2.title__card.title__card--name Eleven Eleven
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-5
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='winslowshome.html') WH
                h2.title__card.title__card--name Winslow's Home
        div.small-12.medium-4.columns.grid__item.bg-food-6
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='olio.html') OL
                h2.title__card.title__card--name Olio
        div.small-12.medium-4.columns.grid__item.bg-food-7
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='sweetart.html') SA
                h2.title__card.title__card--name Sweet Art
    section.row
        div.small-12.medium-4.columns.grid__item.bg-food-8
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='pintsize.html') PS
                h2.title__card.title__card--name Pint Size
        div.small-12.medium-4.columns.grid__item.bg-food-9
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='whisk.html') WK
                h2.title__card.title__card--name Whisk
        div.small-12.medium-4.columns.grid__item.bg-food-10
            article.title__card--wrap.type__system--robot
                h1.title__card.title__card--logo
                    a(href='niche.html') NC
                h2.title__card.title__card--name Niché
        
