section.row.wrapper
    article.wrapper__hero.type-system-sans
        h1.header__marquee hello world
         
        .aniWrap
          .mouse
            .scroller
      
    .small-12.medium-4.columns.bubba.alfie

    .small-12.medium-4.columns.bubba.bronco

    .small-12.medium-4.columns.bubba.chuck

    section.row
      .small-12.columns.bubba.dennis